.create-one
  .create-one__body-main
    .create-one__body-main--top
      %p 誰でも手軽に書けてすぐ投稿できるブログアプリ
    .create-one__body-main--middle
      %p このブログアプリは個人で
      %p 日々の日常や出来事を記して
      %p 気軽に他の人のブログメモを残したり
      %p 見返すことができます。
    .create-one__body-main--btn
      = link_to "#", class: "icon" do
        = image_tag 'app-store.svg',class: "appBtn"
      = link_to "#", class: "icon" do
        = image_tag 'google-play.svg',class: "googleBtn"
