.create-one
  .create-one__body-main
    .create-one__body-main--top
      %p 誰でも気軽に書けて手軽に投稿できる
      %P ブログアプリ
    .create-one__body-main--middle
      %p 個人で日々の出来事を
      %p 簡単に投稿でき
      %p 過去の振り返りもラクラク。
      %p メモ帳としても活用できるブログアプリです。
    .create-one__body-main--btn
      = link_to "#", class: "icon" do
        = image_tag 'app-store.svg',class: "appBtn"
      = link_to "#", class: "icon" do
        = image_tag 'google-play.svg',class: "googleBtn"
